langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.38
langchain_experimental==0.0.59
langchain-google-genai
langchain-google-vertexai
langchain-openai
langchainhub
chromadb
openai
bs4
nest_asyncio
pandas
asyncio
gradio
faiss-cpu
playwright
tiktoken
transformers
asyncpg
google-cloud-bigquery
pandas
vertexai
gcsfs
jupyterlab
psycopg2
asyncpg
db-dtypes
google-api-python-client
numexpr
duckduckgo-search